.modal-window {
    background-color: white;

}

.modal-window-body {

}

.modal-window-title {

}

.modal-window-showing {

}

.round {
    border-radius: 50%;
    background-color:#F2F2F2 ;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease !important;
    margin-left: auto;
    margin-right: auto;
}

.active {
    background-color:#0D6EFD ;
}

.active:hover {
    background-color: #095ED7;
}

@keyframes ani {
    0% {transform: translateY(-15px);opacity: 0;padding: 18px; padding-bottom: 10px; border-radius:7px;width: 20px;
        height: 20px;}
    100% {
        transform: translateY(-1px);
        opacity: 1;
        padding: 18px;
        padding-bottom: 10px;
        margin-bottom: 5px;
        border-radius: 7px;
        width: 40px;
        height: 40px;
    }
}

@keyframes ani-end {
    0% {transform: translateY(0);opacity: 1;background-color: white;padding: 18px; padding-bottom: 10px; border-radius:7px;}
    100% {transform: translateY(10%);opacity: 0;background-color: #f8f9fa;padding: 18px;
        padding-bottom: 10px;
        margin-bottom: 5px;
        border-radius: 7px;}
}
.body-text {
    white-space: pre-wrap;
    text-align: justify;
}

.modal-body {
    padding-right: 35px !important;
}
.navigation {
    display: flex !important;
    justify-content: space-between !important;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

