.watermark {
    max-width: 700px;
    text-align: justify;
    h3 {
        text-align: center;
        margin-bottom: 15px;
    }
    p {
        font-weight: 500;
        margin-left: 70px;
    }
    margin-bottom: 90px;
}