#progress {
    /*transform: translateX(23px)  rotate(-90deg);*/
    transform: rotate(-90deg);
    cursor: pointer;

}

.roller-bg {
    stroke: #FCC01B;
    opacity: 0.3;
}

.roller-indicator {
    stroke: #FCC01B;
    transition: all .750s ease;
}

.hover {
    stroke-dasharray: 1, 1;
}

circle {
    stroke-dashoffset: 0;
    stroke-width: 15%;
    fill: none;
}

#progress .indicator {
    stroke: white;

}
.roller {
    display: flex;
}